<html>
<head>
    <title>No bullshit - just news</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/materialize.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .btn {
            padding: 0 0rem;
        }
        nav {
            background-color: #90caf9;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/relevant">Relevant</a></li>
                <li><a href="/saved">Saved</a></li>
                <li>Count: {{ count }}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h1>No bullshit - just news</h1>
        </div>
        <div class="row">
            <div class="collection">
            {% for e in top %}
                <div class="collapsible-header">
                    <div class="col s9">
                        <i class="large material-icons" style="color:red;">error_outline</i>
                        <a target="_blank" href="{{ e.link }}">{{ e.title|cut }}</a>
                    </div>
                    <div class="col s3">
                        <a name="like-button" class="btn waves-effect waves-teal" value="{{ e.pk }}">
                            <i class="material-icons">thumb_up</i>
                        </a>
                        <a name="dislike-button" class="btn waves-effect waves-teal"  value="{{ e.pk }}">
                            <i class="material-icons">thumb_down</i>
                        </a>
                        <a name="save-button" class="btn-floating btn-small waves-effect waves-light red" value="{{ e.pk }}">
                            <i class="material-icons">add</i>
                        </a>
                        {% if view_name == "saved" %}
                            <a name="delete-button" class="btn-floating btn-small waves-effect waves-light red" value="{{ e.pk }}">
                                <i class="material-icons">done</i>
                            </a>
                        {% endif %}
                        {{ e.score }}
                    </div>
                </div>
            {% endfor %}
            {% for e in entries %}
                <div class="collapsible-header">
                    <div class="col s9">
                        <i class="large material-icons">info_outline</i>
                        <a target="_blank" href="{{ e.link }}">{{ e.title|cut }}</a>
                    </div>
                    <div class="col s3">
                        <a name="like-button" class="btn waves-effect waves-teal" value="{{ e.pk }}">
                            <i class="material-icons">thumb_up</i>
                        </a>
                        <a name="dislike-button" class="btn waves-effect waves-teal"  value="{{ e.pk }}">
                            <i class="material-icons">thumb_down</i>
                        </a>
                        <a name="save-button" class="btn-floating btn-small waves-effect waves-light red" value="{{ e.pk }}">
                            <i class="material-icons">add</i>
                        </a>
                        {% if view_name == "saved" %}
                            <a name="delete-button" class="btn-floating btn-small waves-effect waves-light red" value="{{ e.pk }}">
                                <i class="material-icons">done</i>
                            </a>
                        {% endif %}
                        {{ e.score }}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
