{% from "macros.html" import render_pagination %}
<html>
<head>
    <title>No bullshit - just news</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/materialize.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .btn {
            padding: 0 0rem;
        }
        nav {
            background-color: #90caf9;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/relevant">Relevant</a></li>
                <li><a href="/saved">Saved</a></li>
                <li>Count: {{ count }}
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" name="update-button"><i class="material-icons">replay</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="col s9">
                    <h1>No bullshit - just news</h1>
                </div>

                <div class="col s3">
                    <!-- Yandex Weather -->
                    <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.ru/pogoda/2" target="_blank"><img src="//info.weather.yandex.net/2/4_white.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
                    <!-- /Yandex Weather -->
                </div>
            </div>
        </div>
        <div class="row">
            {% for e in entries %}
                <div class="collapsible-header">
                    <div class="col s9">
                        <span class="grey-text">{{ e.domain }}</span>
                        <a target="_blank" href="{{ e.link }}">{{ e.title|cut }}</a>
                    </div>
                    <div class="col s3">
                        <a name="like-button" class="btn waves-effect waves-teal" value="{{ e.pk }}">
                            <i class="material-icons">thumb_up</i>
                        </a>
                        <a name="dislike-button" class="btn waves-effect waves-teal"  value="{{ e.pk }}">
                            <i class="material-icons">thumb_down</i>
                        </a>
                        <a name="save-button" class="btn-floating btn-small waves-effect waves-light red" value="{{ e.pk }}">
                            <i class="material-icons">add</i>
                        </a>
                        {% if view_name == "saved" %}
                            <a name="delete-button" class="btn-floating btn-small waves-effect waves-light red" value="{{ e.pk }}">
                                <i class="material-icons">done</i>
                            </a>
                        {% endif %}
                        <span>{{ e.score|round(2, 'floor') }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if view_name != "saved" %}
        <div class="row">
            <div class="col s8 offset-s2">
            {{ render_pagination(pagination) }}
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
